<p-card>
  <div [formGroup]="shippingForm"
       class="fluid grid">
    <div class="col-12 md:col-6">
      <h3>Dane odbiorcy przesyłki</h3>
      <div class="field mt-5">
        <span class="p-float-label">
          <input class="w-full"
                 formControlName="firstName"
                 id="first-name"
                 pInputText
                 type="text">
          <label for="first-name">Imię</label>
        </span>
        <span
          *ngIf="shippingForm.controls['firstName'].invalid && (shippingForm.controls['firstName'].dirty || shippingForm.controls['firstName'].touched)">
          <small *ngIf="shippingForm.controls['firstName'].errors?.required"
                 class="p-error block" id="first-name-help">
            Pole Imię nie może być puste
          </small>
        </span>
      </div>
      <div class="field mt-5">
      <span class="p-float-label">
        <input class="w-full"
               formControlName="lastName"
               id="last-name"
               pInputText
               type="text">
        <label for="last-name">Nazwisko</label>
      </span>
        <span
          *ngIf="shippingForm.controls['lastName'].invalid && (shippingForm.controls['lastName'].dirty || shippingForm.controls['lastName'].touched)">
          <small *ngIf="shippingForm.controls['lastName'].errors?.required"
                 class="p-error block" id="last-name-help">
            Pole Nazwisko nie może być puste
          </small>
        </span>
      </div>
      <div class="field  mt-5">
      <span class="p-float-label">
        <input class="w-full"
               formControlName="email"
               id="email"
               pInputText
               type="email">
        <label for="email">E-mail</label>
      </span>
        <span
          *ngIf="shippingForm.controls['email'].invalid && (shippingForm.controls['email'].dirty || shippingForm.controls['email'].touched)">
          <small *ngIf="shippingForm.controls['email'].errors?.required"
                 class="p-error block" id="email-help">
            Pole Email nie może być puste
          </small>
        </span>
      </div>
      <div class="field mt-5">
      <span class="p-float-label">
          <input class="w-full"
                 formControlName="postalCode"
                 id="postal-code"
                 pInputText
                 type="text">
          <label for="postal-code">Kod pocztowy</label>
        </span>
        <span
          *ngIf="shippingForm.controls['postalCode'].invalid && (shippingForm.controls['postalCode'].dirty || shippingForm.controls['postalCode'].touched)">
          <small *ngIf="shippingForm.controls['postalCode'].errors?.required"
                 class="p-error block" id="postal-code-help">
            Pole Kod pocztowy nie może być puste
          </small>
        </span>
      </div>
      <div class="field mt-5">
      <span class="p-float-label">
          <input class="w-full"
                 formControlName="city"
                 id="city"
                 pInputText
                 type="text">
          <label for="city">Miasto</label>
        </span>
        <span
          *ngIf="shippingForm.controls['city'].invalid && (shippingForm.controls['city'].dirty || shippingForm.controls['city'].touched)">
          <small *ngIf="shippingForm.controls['city'].errors?.required"
                 class="p-error block" id="city-help">
            Pole Miasto nie może być puste
          </small>
        </span>
      </div>
      <div class="field mt-5">
      <span class="p-float-label">
          <input class="w-full"
                 formControlName="streetAddress"
                 id="street-address"
                 pInputText
                 type="text">
          <label for="street-address">Ulica i numer domu / mieszkania</label>
        </span>
        <span
          *ngIf="shippingForm.controls['streetAddress'].invalid && (shippingForm.controls['streetAddress'].dirty || shippingForm.controls['streetAddress'].touched)">
          <small *ngIf="shippingForm.controls['streetAddress'].errors?.required"
                 class="p-error block" id="street-address-help">
            To pole nie może być puste
          </small>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <h3>Data doręczenia przesyłki</h3>
      <div class="field mt-5">
      <span class="p-float-label">
        <p-calendar [showIcon]="true"
                    formControlName="shippingDate"
                    inputId="shipping-date">
        </p-calendar>
          <label for="city">Data</label>
        </span>
      </div>
      <h3>Metoda dostawy</h3>
      <div *ngFor="let provider of shippingProviders"
           class="field-radiobutton">
        <p-radioButton [inputId]="provider.value"
                       [value]="provider.price"
                       formControlName="shippingProvider">
        </p-radioButton>
        <label [for]="provider.value"
               class="field-radiobutton__item">
          <span>
            {{ provider.key }}
          </span>
          <span>
            {{ provider.price }} zł
          </span>
        </label>
      </div>
      <h3>Metoda płatności</h3>
      <div *ngFor="let method of paymentMethods"
           class="field-radiobutton">
        <p-radioButton [label]="method.key"
                       [value]="method.value"
                       formControlName="paymentMethod">
        </p-radioButton>
      </div>
    </div>
    <div class="col-12">
      <div class="flex flex-row align-items-center">
        <p-inputSwitch formControlName="consent"
                       id="consent"
                       inputId="consent">
        </p-inputSwitch>
        <label class="pl-4"
               for="consent">{{consentMessage}}
        </label>
      </div>
    </div>
  </div>
</p-card>


