.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  &__title {
    font-size: 3rem;
    font-weight: bold;
  }

  &__buttons {
    display: flex;
    align-content: center;
    justify-content: space-between;

    i {
      font-size: 2rem;
    }
  }
}
